<!-- <p>carousel works!</p> -->

<div class= "carousel-container">
    <div class= "carousel-img">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).webp" alt="First slide">
    </div>
    <div class= "carousel-img">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).webp" alt="Second slide">
    </div>
    <div class= "carousel-img">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).webp" alt="Third slide">
    </div>
    <div class= "carousel-img">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).webp" alt="First slide">
    </div>
  <div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>

    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>


<!-- TODO clean up carousel code -->
<!-- <div *ngIf= "images && images.length > 0" class= "carousel-container">
    <img *ngFor= "let image of images; let i = index" [src]="image.imageSrc" [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedIndex === i}"
    >
    
</div> -->
